<div class="col-12">
  <h2 class="text-secondary">Active students search</h2>
</div>
<!--use ngVar to set filter-->
<div class="col-12">
  <app-advanced-table-search #search [searchState]="'table3'" [(filter)]="filter" [collapsed]="false" [showMore]="true" [table]="table">
     <advanced-search>
          <app-advanced-search-form [formSrc]="'/assets/tables/table2.search.json'" #searchForm [(filter)]="filter"></app-advanced-search-form>
      </advanced-search>
  </app-advanced-table-search>
</div>
<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table [configSrc]="'/assets/tables/table3.config.json'"></app-advanced-table>
</div>
