<div class="col-12">
  <h2 class="text-secondary">Alter table configuration while loading</h2>
  <div class="mb-4">
    This component uses <pre class="d-inline">AdvancedTableComponent.loading</pre> event and updates table configuration
    by formatting <pre class="d-inline">Student.semester</pre> column. It also appends <pre class="d-inline">Person.birthDate</pre> column.
  </div>
</div>

<div class="col-12">
  <app-advanced-table-search [(filter)]="filter" [searchState]="'table8'" [collapsed]="true" [showMore]="true" [table]="table">
    <advanced-search>
      <app-advanced-search-form (loading)="onLoadingSearch($event)" [formSrc]="'/assets/tables/table2.search.json'" #searchForm [(filter)]="filter"></app-advanced-search-form>
  </advanced-search>
  </app-advanced-table-search>
</div>

<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <a *ngIf="table.selected && table.selected.length" class="text-danger text-decoration-none mr-2"
        href="javascript:void(0)" href="javascript:void(0)">
        <span class="mr-1">-</span><span [translate]="'Tables.RemoveItem'"></span>
      </a>
      <a class="text-indigo text-decoration-none  mr-2" href="javascript:void(0)">
        <span class="mr-1">+</span><span [translate]="'Tables.AddItem'"></span>
      </a>
      <a class="text-indigo text-decoration-none universis-btn-export" href="javascript:void(0)">
       <i class="far fa-file-excel mr-2"></i><span [translate]="'Export'"></span>
      </a>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table (loading)="onLoadingTable($event)" [configSrc]="'/assets/tables/table2.config.json'"></app-advanced-table>
</div>
