<div class="col-12">
  <h2 class="text-secondary">Use table editor</h2>
</div>
<div class="col-12 pt-4">
  <app-advanced-table-search [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="table">
  </app-advanced-table-search>
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <button [disabled]="tableEditor?.dirty === false" class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" (click)="tableEditor?.undo()">
        <span [translate]="'Undo changes'"></span>
      </button>
      <button [disabled]="tableEditor?.dirty === false" class="text-success btn btn-lg btn-default text-decoration-none mr-2" (click)="apply()">
        <span [translate]="'Apply changes'"></span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" (click)="add()">
        <span>+</span>&nbsp;<span [translate]="'Add'"></span>
      </button>
      <button [disabled]="table.selected && table.selected.length === 0" class="text-danger btn btn-lg btn-default text-decoration-none" (click)="remove()">
        <span>-</span>&nbsp;<span [translate]="'Remove'"></span>
      </button>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table [tableEditor] [selectable]="true" [paging]="true" [scrollable]="true" [showFooter]="false" [serverSide]="false" [configSrc]="'/assets/tables/table4.config.json'"></app-advanced-table>
</div>
